<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      <img src="/assets/logo.png" alt="logo">

      <span>Kirk Douglas</span>

      <ion-button color="light" fill="clear" size="small">
        <ion-icon slot="icon-only" name="arrow-down-outline"></ion-icon>
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-slides [options]="slidesOptions">
      <ion-slide *ngFor="let option of options">
        <div class="container ion-text-left">
          <ion-icon [name]="option.icon"></ion-icon>

          <span>{{ option.text }}</span>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
</ion-footer>