ion-header {
  ion-toolbar {
    --min-height: 100px;

    ion-title {
      align-items: flex-end;
      img {
        width: 45px;
        vertical-align: middle;
        margin-right: 10px;
      }

      span {
        font-size: 22px;
      }

      ion-button {
        display: block;        
      }
    }
  }
}

ion-footer {
  ion-slide {
    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      width: 100%;
      height: 90px;
      background-color: var(--ion-color-primary-tint);
      padding: 10px;
      margin: 0 5px;

      ion-icon {
        font-size: 24px;
      }

      span {
        font-size: 16px;
      }

    }
  }
}